.about-container{
   color: white;
    font-size: x-large;
    text-shadow: rgba(51, 51, 51, 0.64) 4px 4px ;
}
.about-text{
    text-shadow: rgba(51, 51, 51, 0.64) 7px 7px ;
}
.floater {
    display: flex;
    justify-content: space-between;
}

.floater figure, .floater div {
    flex: 1;
}
.portrait {
    width: 50%;
    border-radius: 10%;
}
.about-text{
    flex: none;
    text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
    font-size: 1.4em;
    width:60%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #ffffff;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #5ce7f8;
    line-height:1.6;
    position: relative;
    background: rgba(237, 237, 237, 0.5);
}

blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#5ce7f8;
    font-size:3em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}

blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}
