table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Cabin', sans-serif;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.highlight {
    background-color: #45f0ff;
}
.lowlight {
    background-color: #b7efe8;
}
