.container {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Logo Nav Nav"
    ". Content ."
    "Footer Footer Footer";
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
h1{
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: xxx-large;
}
h2{
    font-family: 'Cabin', sans-serif;
    color: white;
    line-height: 1.5;
}
h3{
    font-family: 'Cabin', sans-serif;
    color: white;
    line-height: 1.5;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    z-index: -1;
    object-fit: fill;
}
.Logo { grid-area: Logo; }
.Logo img{
    object-fit: contain;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.Nav { grid-area: Nav;
    align-items: center;
}

.Content { grid-area: Content; }

.Footer { grid-area: Footer; }
ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    alignment-baseline: bottom;
}

li {

}

li a {
    font-family: 'Cabin', sans-serif;
    display: block;
    color: #92b0c0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgba(94, 94, 94, 0.49);
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;

    font-family: Cabin, sans-serif;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.Footer {
    width: 100%;

}
.social-icons {
    margin-top: 10px;
}
.social-icons img {
    width: 30px;
    margin: 0 10px;
}

.homepage{

}
.news-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #333333;
    border-radius: 10px;
}
.news-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.news-date {
    font-family: 'Cabin', sans-serif;
    color: #91afbf;
    font-size: 0.8em;
}
.news-title {
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
}
.news-content {
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    color: white;
}
p{
    font-family: 'Cabin', sans-serif;
    font-size: medium;
}
